/*---Fonts Variables--*/
  $font-family: "Inter", sans-serif;
  $second-family: "Prompt", sans-serif;

/*---Theme color Variables--*/
  $primary: #06f;
  $white: #fff;
  $black: #000;
  $bg_color: #002f41;
  $text_color2:  #f5f7fa;
  $text_color: #b5bcc4;
  $border: rgba(197, 203, 211, 0.15);





