.heading_area{
    .sub_heading{
        h4{
            width: fit-content;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            color: $white;
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 100px;
            padding: 10px 30px 10px 40px;
            background: linear-gradient(180deg, #031a26 0%, #153140 100%);
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                @include transformY(-50%);
                left: 30px;
                width: 4px;
                height: 4px;
                background-color: $white;
                @include border-radius(50%);
            }
            @include md {
                font-size: 12px;
            }
        }
        h5{
            font-weight: 500;
            font-size: 16px;
            color: $black;
            @include xxs {
                font-size: 14px;
            }
        }
        &.style_01{
            h4{
                border: 1px solid $border;
                background: $white;
                color: $text_color;
                &::before{
                    background-color: $text_color;
                }
            }
        }
    }
    .heading{
        h1{
            font-weight: 500;
            font-size: 64px;
            color: $text_color;
            letter-spacing: -0.03em;
            line-height: 72px;
            font-family: $second-family;
            @include xl {
                font-size: 52px;
                br {
                    display: none;
                }
            }
            @include lg {
                font-size: 42px;
            }
            @include md {
                font-size: 36px;
                line-height: 46px; /* 127.778% */
            }
            @include xxs {
                font-size: 30px;
                line-height: 40px; /* 127.778% */
            }
        }
        h2{
            font-family: $second-family;
            font-weight: 500;
            font-size: 40px;
            @include sm{
                font-size: 32px;
                line-height: 44px;
            }
            line-height: 56px;
            letter-spacing: -0.04em;
            color: #f5f7fa;
        }
        &.style_1{
            h2{
                color: $bg_color;
            }
        }
        &.style_02{
            h2{
                color: #002f41;
            }
        }

    }
}
.description{
    margin-top: 21px;
    @include sm{
        margin-top: 13px;
    }
    p{
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #b5bcc4;
        @include md {
            font-size: 16px;
            line-height: 26px; 
        }
    }
}



@media (min-width:1200px){
    .min_br{
        display: none;
    }
}
@include nesthubmax{
  .nestmax_br_none{
        display: none;
    }
}
@include nesthub{
    .nest_br_none{
        display: none;
    }
}
@include md{
    .md_br_none{
        display: none;
    }
    .sm-none{
        display: none;
    }
}
@include sm{
    .sm_br_none{
        display: none !important;
    }
    .sm_br{
        display: block !important;
    }
    .sm-none{
        display: none;
    }
}

